<h2>Below is a list of all our available books</h2>
  <table>
    <% @books.each do |book| %>
    <tr>
      <th> Title </th>
      <th> Author </th>
      <th> Release date </th>
      <th> Book's ID </th>
      <th> Details and rent </th>
    </tr>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.author %></td>
      <td><%= book.release_date %></td>
      <td><%= book.book_id %></td>
      <td><%= button_to "Read more", book %>
    </tr>
    <% end %>
  </table>
