<!DOCTYPE html>
<html>
  <head>
    <title>LibraryApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!-- NAVMENU -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1">
      <div class="container-fluid">
        <a class="navbar-brand color-light"><%= link_to "Vade Mecum Bibliotheca", root_path %></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggler="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">

<!-- I DON'T HAVE ANY IDEA HOW to unwrap this button and whole navbar - the button shows off, but it does not rolling down -->

            <% if current_user %>

              <li class="nav-item">    
                <a class="nav-link"><%= link_to current_user.email, current_user %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"><%= link_to "Log Out", logout_path, data: { turbo_method: :delete }, method: :delete %></a>
              </li>

            <% else %>

              <li class="nav-item">
                <a class="nav-link"><%= link_to "Login ", 'login' %></a>
              </li>
              <li class="nav-item">
                <a class="nav-link"><%= link_to "Sign up ", 'signup' %></a>
              </li>
          
            <% end %>
            
          </ul>
        </div>
      </div>
    </nav>
<!-- I don't know how to make default overlay search form on image
      This only has a place when the view is mobile - very narrow
      Besides that, I want to make search transparent, about 50% -->
      
    <!-- SHOWCASE -->
    <section class="card bg-dark text-light p-5 text-center">
      <div class="container">
        <img class="card-img-fluid rounded mx-auto w-50 d-sm-block" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmiro.medium.com%2Fmax%2F12480%2F0*D20V-5QYOpFdrFWi&f=1&nofb=1" alt="reader">
        <div class="card-img-overlay d-sm-flex align-items-center justify-content-center">
          <div>
            <div class="card-title opacity-50"><%= search_form_for @q do |f| %></div>
              <p class="card-text lead my-2 opacity-50"><%= f.search_field :name_or_author_or_release_date_or_book_id_cont, :placeholder => "Type title, author, date..." %></p>
              <button class="card-text btn btn-primary btn-lg opacity-50"><%= f.submit "Search" %></button>
              <!-- jak link_to, docsy, w środku erb, jako arugment dajesz css'a -->
            <% end %>
          </div>
        </div>
      </div>
    </section>


    <!-- Background image -->
    <!-- tutaj do nauki jest współpraca bootstrapa z railsami
          Chcę czytelny tekst wszędzie, na backgroundzie -->
    
    <%# <div class="text-primary">
      <div class="bg-image" 
      style="
        background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pixelstalk.net%2Fwp-content%2Fuploads%2F2016%2F08%2FHD-Library-Wallpaper.jpg&f=1&nofb=1');
        background-repeat: no-repeat;
        background-attachment: fixed;
      " %>

      <div class="background-super888">

      <%= yield %>

      </div>

      <%# ></div>
    </div> %>
    <!-- END Background image -->

    <!-- CONTACT & MAP -->
    <section class="p-5">
      <div class="container">
        <div class="row g-4">
          <div class="col-md">
            <h2 class="text-center mb-4">Contact Info</h2>
            <ul class="list-group list-group-flush lead">
              <li class="list-group-item">
                <span class="fw-bold"> Main Location: </span> 50 Main street Simcity UN
              </li>
              <li class="list-group-item">
                <span class="fw-bold"> Bibliotheca Phone: </span> (777) 777-7777
              </li>
              <li class="list-group-item">
                <span class="fw-bold"> Secretary Phone: </span> (777) 747-7777
              </li>
              <li class="list-group-item">
                <span class="fw-bold"> Bibliotheca Email: </span> vade.mecum@email.com
              </li>
            </ul>
          </div>
          <div class="col-md">
            <img class="img-fluid rounded mx-auto w-90 d-sm-block" src="https://i0.wp.com/www.cssscript.com/wp-content/uploads/2018/03/Simple-Location-Picker.png?fit=561%2C421&ssl=1" alt="map location">
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer class="p-5 bg-dark text-white text-center position-relative">
      <div class="container">
        <p class="lead">Copyright &copy; <%= Date.today.year %> Vade Mecum Bibliotheca </p> 

        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" 
      crossorigin="anonymous"
    ></script>
  </body>
</html>
